body {
  background-color: #f9f9f9; /* Light background color */
}

.table {
  margin-top: 20px;
}

.bold {
  font-weight: bold;
}

.blue-italic {
  font-weight: bold;
  font-style: italic;
  color: blue;
}

img {
  border: 3px solid #ccc;
  border-radius: 5px;
  transition: transform 0.3s ease;
  max-width: 100px; /* Set a max width for images */
}

img:hover {
  transform: scale(1.5);
}

h1 {
  color: #007bff; /* Bootstrap primary color */
}

h2 {
  border-bottom: 2px solid lightblue;
  padding-bottom: 10px;
}

h3 {
  margin-top: 40px;
}

/* Styles for sorting buttons */
.sort-button {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  border: none;
  padding: 3px 6px; /* Smaller padding for smaller buttons */
  cursor: pointer;
  margin-left: 5px; /* Space between buttons */
  border-radius: 4px; /* Rounded corners */
}

.sort-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Adding a shadow effect to buttons for a 3D look */
.sort-button {
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
